/pertemuan4/praktikum1/nbproject/private/
/pertemuan4/praktikum1/build/
/pertemuan4/latihan1/nbproject/private/
/pertemuan4/latihan1/build/
/pertemuan4/latihan2/nbproject/private/
/pertemuan4/latihan2/build/