/pertemuan4/praktikum1/nbproject/private/
/pertemuan4/praktikum1/build/
/pertemuan4/latihan1/nbproject/private/
/pertemuan4/latihan1/build/
/pertemuan4/latihan2/nbproject/private/
/pertemuan4/latihan2/build/
/TUGAS/TUGAS OBJECT/latihan1/nbproject/private/
/TUGAS/TUGAS OBJECT/latihan2/build/
/TUGAS/TUGAS OBJECT/latihan2/nbproject/private/
/TUGAS/TUGAS OBJECT/latihan3/latihan3/nbproject/private/
/TUGAS/TUGAS OBJECT/latihan3/latihan3/build/
/TUGAS/TUGAS OBJECT/latihan4/latihan4/nbproject/private/
/TUGAS/TUGAS OBJECT/latihan4/latihan4/build/
/pertemuan4/praktikum2/nbproject/private/
/pertemuan4/praktikum2/build/
/TUGAS/tugas/latihan1/nbproject/private/
/TUGAS/tugas/latihan1/build/
/TUGAS/tugas/latihan2/nbproject/private/
/TUGAS/tugas/latihan2/build/
/TUGAS/tugas/latihan3/nbproject/private/
/TUGAS/tugas/latihan3/build/
/TUGAS/tugas/latihan4/nbproject/private/
/TUGAS/tugas/latihan4/build/
/pertemuan5/praktikum1/nbproject/private/
/pertemuan5/praktikum1/build/
/pertemuan6/praktikum1/nbproject/private/
/pertemuan6/praktikum1/build/